In [1]:
import pandas as pd
import scipy
import pyreadstat
import pyshs
import matplotlib.pyplot as plt
import seaborn as sns
import prince
import numpy as np

C:\Users\rana_\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
data = pd.read_excel(r"C:\Users\rana_\OneDrive\Bureau\inserm\travaux\IFOP et LEEM\transfer_5678355_files_71b8c3b2\files ifop obscurantisme\119718_Base de donn√©es.xlsx")

In [4]:
data

,ID,COMPTEUR,SEXE,AGE,QSEXE,RAGE1,RAGE2,RAGE3,RAGE4,XRAGE,AGGLOIFOP0,AGGLO,TYPCOM,TAILCOM,DPT,REG,REG2,REG3,REG22,REG13,REG12,SITI,PPIA,PI0,PIQ,PI1,STC,PI2,TITC,STCA,STCB,STCC,DIPL1,DIPL2,DIPL3,DIPLSUP,DIPLFIL,FOYER,ENF14,RS11,Q2_1,Q2_2,Q2_3,Q2_4,Q2_5,Q2_6,Q2_7,Q2_8,Q2_9,Q2_10,Q2_11,Q2_12,Q2_13,Q3A,Q3B,Q3C,Q4_1,Q4_2,Q4_3,Q4_4,Q4_5,Q4_6,Q4_7,Q4_8,SPLIT,Q7_1,Q7_2,Q7_3,Q7_4,Q7_5,Q7_6,Q7_7,Q7_8,Q7_9,Q7_10,Q7_11,Q8_1,Q8_2,Q8_3,Q8_4,Q8_5,Q8_6,Q8_7,Q8_8,Q8_9,Q9_1,Q9_2,Q9_3,Q9_4,Q9_5,Q10,Q11,Q12,Q13_1,Q13_2,Q13_3,Q13_4,Q13_5,Q13_6,Q13_7,Q13_8,Q13_9,Q13_10,Q13_11,Q13_12,Q13_13,Q14,Q15,Q16,Q18_1,Q18_2,Q18_3,Q18_4,Q18_5,Q18_6,Q19_1,Q19_2,Q19_3,Q19_4,Q20,REV,REVR,REV21,REV22,REV23,REV24,REV25,REV26,NBUC_T,RUC_A,TRUC,PROX,PROX1,RPROX,PROXFIL,PRE22,REL2,RELI1,RELI2,RRELI,FQRELI,RFQRELI,REL1,REL1_R,POIDS
0,233149874516147,1,2,22,2,2,2,3,1,3,1,1,6,1,60,4,2,2,19,10,9,7,3.0,7,7,8,NaN,NaN,NaN,8,8,NaN,2,6,5,NaN,4,5,0.0,3,4,4,4,4,4,4,4,4,4,4,4,4,4,5,4,6,4,4,4,4,4,4,4,4,2,5,5,5,5,5,5,5,5,5,5,5.0,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,4,4,4,4,4,4,4,4,4,4,4,4,4,4,1,2,3,3,3,3,3,3,NaN,NaN,NaN,NaN,NaN,7,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,23.0,13,14,17,NaN,7,NaN,7,7,9,8,8,0.855884
1,233149874432006,1,1,73,1,6,6,8,5,2,8,4,3,5,37,5,3,2,7,6,6,3,4.0,7,7,7,NaN,NaN,NaN,7,8,NaN,2,8,6,NaN,5,2,0.0,2,1,3,3,2,3,3,2,2,1,2,2,3,2,1,3,4,1,2,1,3,3,1,4,1,2,10,5,4,6,8,6,10,5,10,10,10.0,1,2,2,2,2,3,1,3,1,3,1,1,3,1,2,2,2,3,3,3,1,3,1,4,1,2,3,2,3,4,1,2,1,1,2,2,2,2,3,2.0,2.0,2.0,3.0,NaN,6,6,NaN,NaN,NaN,NaN,NaN,4600.0,1.5,3066.666667,2.0,16,NaN,9,10,10,NaN,1,4.0,3,6,3,2,2,0.479168
2,233149874797781,1,2,76,2,7,6,8,5,4,1,1,6,1,69,8,5,2,22,3,3,3,15.0,7,7,7,NaN,NaN,NaN,7,8,NaN,2,10,7,NaN,7,2,0.0,2,2,3,3,1,3,2,2,2,1,2,3,1,2,3,6,7,1,2,1,2,2,1,4,1,1,10,10,6,5,10,6,10,10,10,10,10.0,1,3,2,2,2,3,1,3,1,3,3,2,3,3,2,2,2,3,3,2,3,3,2,2,1,3,2,3,3,4,2,2,2,1,1,2,1,1,2,1.0,3.0,2.0,1.0,2.0,5,5,NaN,NaN,NaN,NaN,3150.0,NaN,1.5,2100.000000,3.0,10,NaN,6,7,9,NaN,6,4.0,6,7,8,7,7,0.455098
3,233149874448429,1,2,69,2,6,6,7,5,4,8,4,1,11,34,9,5,2,13,9,8,3,20.0,8,7,7,NaN,NaN,NaN,7,8,NaN,2,6,5,NaN,4,2,0.0,2,1,2,2,1,3,2,2,2,2,3,2,2,2,5,7,2,2,2,2,2,2,2,2,3,1,10,2,1,2,9,9,10,2,3,9,6.0,1,3,2,3,3,2,1,3,2,3,3,3,3,3,1,1,2,3,3,1,2,3,2,1,1,3,2,2,3,4,4,1,2,2,3,3,1,2,3,NaN,NaN,NaN,NaN,NaN,7,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN,11,12,12,NaN,6,5.0,6,7,8,2,2,1.297183
4,233149874450481,1,1,59,1,5,5,6,4,2,8,4,3,8,67,3,2,2,1,1,1,1,9.0,3,3,3,3.0,1.0,NaN,2,2,2.0,2,11,8,1.0,8,2,0.0,2,1,2,2,1,4,1,3,2,1,4,3,3,4,1,3,2,2,1,2,1,3,1,4,1,1,10,9,1,8,9,1,10,8,9,10,5.0,2,3,3,3,1,3,1,2,2,3,1,3,3,3,2,1,2,3,3,3,3,2,1,2,2,3,2,1,2,4,2,2,2,1,2,1,1,1,2,2.0,1.0,1.0,1.0,1.0,6,6,NaN,NaN,NaN,NaN,NaN,10000.0,1.5,6666.666667,1.0,9,NaN,5,6,8,NaN,2,4.0,4,7,5,3,3,1.285703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1497,233560820956177,1,1,33,1,3,3,4,2,1,1,1,6,1,80,4,2,2,19,10,9,1,15.0,4,4,4,3.0,1.0,NaN,2,2,2.0,2,10,7,NaN,7,3,1.0,2,1,4,4,1,4,2,1,4,1,2,1,1,3,1,7,2,2,2,2,2,2,3,2,2,1,10,10,2,2,2,3,8,5,5,3,6.0,1,2,1,2,1,3,2,3,1,3,1,3,3,3,2,2,1,3,4,1,1,4,2,2,2,2,2,3,3,4,2,2,3,1,2,1,1,2,3,2.0,2.0,1.0,1.0,1.0,6,6,NaN,NaN,NaN,NaN,NaN,4500.0,1.8,2500.000000,3.0,21,NaN,10,11,13,2.0,1,5.0,3,7,4,1,1,1.043640
1498,233560821479529,1,2,26,2,3,3,3,1,3,8,4,4,10,59,2,2,2,17,10,9,6,20.0,8,7,8,NaN,NaN,NaN,8,8,NaN,2,5,4,NaN,3,5,3.0,2,4,2,2,2,2,2,3,3,2,3,2,4,3,5,6,7,3,2,3,3,3,3,3,2,1,10,10,6,4,7,1,1,1,5,5,5.0,2,2,3,2,2,2,2,3,2,3,3,1,3,3,3,2,3,3,3,3,2,2,2,2,1,3,3,4,3,3,3,1,1,2,2,1,2,3,1,2.0,3.0,1.0,1.0,1.0,3,3,NaN,NaN,1630.0,NaN,NaN,NaN,2.4,679.166667,6.0,23,23.0,13,14,15,NaN,1,4.0,3,7,4,7,7,2.846135
1499,233416101012557,1,2,38,2,4,4,4,2,4,7,4,1,11,14,5,3,2,4,11,10,1,11.0,4,4,4,5.0,2.0,2.0,3,5,4.0,2,11,8,1.0,8,7,5.0,3,2,2,3,2,3,2,2,2,2,2,2,3,2,7,2,1,2,2,2,2,2,2,3,2,1,9,9,4,3,6,4,9,7,7,8,6.0,1,1,1,2,1,2,1,2,1,3,2,1,3,2,1,2,2,2,2,2,2,2,2,2,2,2,2,3,3,4,2,2,3,1,2,2,3,2,3,1.0,3.0,3.0,3.0,NaN,4,4,NaN,NaN,NaN,2950.0,NaN,NaN,3.0,983.333333,5.0,8,NaN,5,6,17,NaN,7,NaN,7,7,9,8,8,0.770672
1500,233560819751074,1,2,54,2,5,5,6,4,4,6,3,7,12,20,9,5,2,9,7,12,7,30.0,10,7,8,NaN,NaN,NaN,8,8,NaN,2,3,2,NaN,1,2,0.0,1,4,4,4,4,4,4,4,4,4,4,4,4,4,3,5,1,2,2,2,2,2,2,2,2,1,2,2,2,2,2,2,2,2,2,2,2.0,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,2,4,4,4,4,4,4,4,4,4,4,4,4,4,3,1,3,3,3,3,3,3,3,NaN,NaN,NaN,NaN,NaN,4,4,NaN,NaN,NaN,2300.0,NaN,NaN,1.5,1533.333333,4.0,23,23.0,13,14,1,NaN,1,4.0,3,7,4,2,2,3.164681
1501,233506364120296,1,2,32,2,3,3,4,2,3,8,4,3,7,59,2,2,2,17,10,9,1,20.0,5,5,5,3.0,1.0,NaN,2,2,2.0,2,11,8,1.0,8,2,0.0,3,1,2,3,3,3,2,3,1,1,2,3,3,1,6,4,3,2,2,2,2,2,1,4,4,2,10,10,10,10,10,10,10,10,10,10,10.0,1,2,1,2,1,3,1,1,1,3,2,3,3,2,1,1,2,3,3,3,3,2,1,1,2,2,2,2,2,4,1,2,2,3,3,1,2,2,3,2.0,2.0,2.0,2.0,5.0,5,5,NaN,NaN,NaN,NaN,3500.0,NaN,1.5,2333.333333,3.0,3,NaN,2,3,6,NaN,6,4.0,6,7,8,7,7,0.659076

In [5]:
# Variable 'RS11'
# Question : Pensez-vous que dans les grands d√©bats de soci√©t√© actuels, la science a‚Ä¶ ?
data['RS11'].value_counts()

RS11
3    760
2    639
1    103
Name: count, dtype: int64

In [6]:
data['RS11'] = data['RS11'].astype('category')

In [7]:
data['RS11'] =data['RS11'].cat.rename_categories({1: "Trop de place"
                                                 , 2 : "Pas assez de place"
                                                 , 3 : "Ni trop, ni pas assez de place"})

In [8]:
#changer l'order des categories de la variable 'RS11'
data['RS11'] = pd.Categorical(data['RS11'], 
                            categories=['Pas assez de place'
                                        , 'Ni trop, ni pas assez de place'
                                        ,'Trop de place'], 
                            ordered=True)

In [9]:
list_indeps = ['SEXE', 'Age_groupes', 'Taillcom_cat', 'DPT', 'REG22', 'SITI', 'PI0', 'DIPL1', 'Diplome'
              , 'FOYER', 'REV', 'PROX_nom', 'PROX_cat', 'RS11', 'Q2_1', 'Q2_2', 'Q2_3', 'Q2_4', 'Q2_5', 'Q2_6', 'Q2_7'
              , 'Q2_8', 'Q2_9', 'Q2_10', 'Q2_11', 'Q2_12', 'Q2_13', 'Q3A', 'Q3B', 'Q3C', 'Sectes_premier', 'Sectes_obscurantisme_placement'
              , 'Complotisme_premier', 'Complotisme_obscurantisme_placement', 'Religions_premier', 'Religions_obscurantisme_placement'
              , 'Remise_en_cause_science_premier', 'Remise_en_cause_science_obscurantisme_placement', 'Q4_1', 'Q4_2', 'Q4_3'
              , 'Q4_4', 'Q4_5', 'Q4_6', 'Q4_7', 'Q4_8', 'Q8_1', 'Q8_2', 'Q8_3', 'Q8_4', 'Q8_5', 'Q8_6', 'Q8_7', 'Q8_8', 'Q8_9'
              , 'Q9_3', 'Q9_5', 'Q10', 'Q11', 'Q12', 'Q13_2', 'Q13_6', 'Q13_7', 'Q14', 'Q15', 'Q16', 'Q18_1', 'Q18_2', 'Q18_3'
              , 'Q18_4', 'Q18_5', 'Q18_6', 'Q19_1', 'Q19_2', 'Q19_3', 'Q19_4', 'Q20', 'PRE22', 'REL1', 'REL2', 'RELI2', 'RRELI']

questions_variables = {'SEXE' : "Vous √™tes... ?", 'Age_groupes' : "Groupes d'ages", 'Taillcom_cat' : "Taille commune categorie"
                      , 'DPT' : "D√©partement", 'REG22' : "R√©gion", 'SITI' : "Actuellement, quelle est votre situation ?"
                      , 'PI0' : "CSP", 'DIPL1' : "√ätes-vous inscrit(e) dans un √©tablissement d‚Äôenseignement pour l‚Äôann√©e scolaire en cours ?  Y compris apprentissage ou √©tudes sup√©rieures."
                      , 'Diplome' : "√Ä ce jour, le plus haut dipl√¥me que vous poss√©dez est‚Ä¶ ?", 'FOYER' : "De combien de personnes se compose votre foyer y compris vous-m√™me ?"
                      , 'REV' : "En prenant en compte tous les types de revenus que touchent les membres de votre foyer, quel est actuellement le montant mensuel net des ressources de l‚Äôensemble de votre m√©nage ?"
                      , 'PROX_nom' : "De laquelle des formations politiques suivantes vous sentez-vous le plus proche ou disons le moins √©loign√©(e) ?"
                      , 'PROX_cat' : "Proximit√© politique", 'RS11' : "Pensez-vous que dans les grands d√©bats de soci√©t√© actuels, la science a‚Ä¶ ?"
                      , 'Q2_1' : "Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ? Les sectes"
                      , 'Q2_2' : "Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ? Le Christianisme"
                      , 'Q2_3' : "Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ? Le Juda√Øsme"
                      , 'Q2_4' : "Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ? L‚ÄôIslam"
                      , 'Q2_5' : "Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ? Le Bouddhisme"
                      , 'Q2_6' : "Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ? Les religions en g√©n√©ral"
                      , 'Q2_7' : " Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ? Les mouvements d‚Äôultra gauche"
                      , 'Q2_8' : "Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ? Les mouvements d‚Äôultra droite"
                      , 'Q2_9' : "Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ? Les mouvements complotistes"
                      , 'Q2_10' : "Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ? Les m√©decines alternatives"
                      , 'Q2_11' : "Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ? Les mouvements n√©o-f√©ministes"
                      , 'Q2_12' : "Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ? Le wokisme"
                      , 'Q2_13' : " Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ? Le survivalisme"
                      , 'Q3A' : "Quel mot parmi les suivants se rapproche selon vous le plus de l‚Äôobscurantisme ? En premier ?"
                      , 'Q3B' : "Quel mot parmi les suivants se rapproche selon vous le plus de l‚Äôobscurantisme ? En deuxi√®me ?"
                      , 'Q3C' : "Quel mot parmi les suivants se rapproche selon vous le plus de l‚Äôobscurantisme ? Et en troisi√®me ?"
                      , 'Sectes_premier': "Placement des sectes en premier dans la liste des mots qui se rapprochent le plus de l‚Äôobscurantisme"
                      , 'Sectes_obscurantisme_placement' : "Placement des sectes dans les 3 premi√®res places de la liste des mots qui se rapprochent le plus de l‚Äôobscurantisme"
                      , 'Complotisme_premier' : "Placement du complotisme en premier dans la liste des mots qui se rapprochent le plus de l‚Äôobscurantisme"
                      , 'Complotisme_obscurantisme_placement' : "Placement du complotisme dans les 3 premi√®res places de la liste des mots qui se rapprochent le plus de l‚Äôobscurantisme"
                      , 'Religions_premier' : "Placement des religions en premier dans la liste des mots qui se rapprochent le plus de l‚Äôobscurantisme"
                      , 'Religions_obscurantisme_placement' : "Placement des religions dans les 3 premi√®res places de la liste des mots qui se rapprochent le plus de l‚Äôobscurantisme"
                      , 'Remise_en_cause_science_premier' : "Placement de la remise en cause de la science en premier dans la liste des mots qui se rapprochent le plus de l‚Äôobscurantisme"
                      , 'Remise_en_cause_science_obscurantisme_placement' : "Placement de la remise en cause de la science dans les 3 premi√®res places de la liste des mots qui se rapprochent le plus de l‚Äôobscurantisme"
                      , 'Q4_1' : "Pour chacune des phrases suivantes, indiquez si vous √™tes tout √† fait d‚Äôaccord, plut√¥t d‚Äôaccord, pas vraiment d‚Äôaccord ou pas du tout d‚Äôaccord. L‚Äôobscurantisme repr√©sente une menace s√©rieuse pour la R√©publique"
                      , 'Q4_2' : "Pour chacune des phrases suivantes, indiquez si vous √™tes tout √† fait d‚Äôaccord, plut√¥t d‚Äôaccord, pas vraiment d‚Äôaccord ou pas du tout d‚Äôaccord. L‚Äôobscurantisme est un ph√©nom√®ne r√©pandu au sein de la soci√©t√©"
                      , 'Q4_3' : "Pour chacune des phrases suivantes, indiquez si vous √™tes tout √† fait d‚Äôaccord, plut√¥t d‚Äôaccord, pas vraiment d‚Äôaccord ou pas du tout d‚Äôaccord. L‚Äôobscurantisme est un ph√©nom√®ne en progression au sein de la soci√©t√©"
                      , 'Q4_4' : "Pour chacune des phrases suivantes, indiquez si vous √™tes tout √† fait d‚Äôaccord, plut√¥t d‚Äôaccord, pas vraiment d‚Äôaccord ou pas du tout d‚Äôaccord. L‚Äôobscurantisme est un ph√©nom√®ne qui a toujours exist√©"
                      , 'Q4_5' : "Pour chacune des phrases suivantes, indiquez si vous √™tes tout √† fait d‚Äôaccord, plut√¥t d‚Äôaccord, pas vraiment d‚Äôaccord ou pas du tout d‚Äôaccord. L‚Äôobscurantisme est un ph√©nom√®ne contre lequel on peut lutter"
                      , 'Q4_6' : "Pour chacune des phrases suivantes, indiquez si vous √™tes tout √† fait d‚Äôaccord, plut√¥t d‚Äôaccord, pas vraiment d‚Äôaccord ou pas du tout d‚Äôaccord. L‚Äôobscurantisme est un ph√©nom√®ne contre lequel il est indispens"
                      , 'Q4_7' : "Pour chacune des phrases suivantes, indiquez si vous √™tes tout √† fait d‚Äôaccord, plut√¥t d‚Äôaccord, pas vraiment d‚Äôaccord ou pas du tout d‚Äôaccord. L‚Äôobscurantisme est un ph√©nom√®ne dont on exag√®re la port√©e."
                      , 'Q4_8' : "Pour chacune des phrases suivantes, indiquez si vous √™tes tout √† fait d‚Äôaccord, plut√¥t d‚Äôaccord, pas vraiment d‚Äôaccord ou pas du tout d‚Äôaccord. La notion d‚Äôobscurantisme est utilis√©e pour d√©nigrer ou disqual"
                      , 'Q8_1' : "Pour chacun des acteurs suivants, diriez-vous qu‚Äôil participe ou non √† la diffusion des ph√©nom√®nes obscurantistes dans la soci√©t√© fran√ßaise ? Les r√©seaux sociaux"
                      , 'Q8_2' : "Pour chacun des acteurs suivants, diriez-vous qu‚Äôil participe ou non √† la diffusion des ph√©nom√®nes obscurantistes dans la soci√©t√© fran√ßaise ? Les journaux t√©l√©vis√©s (13 heures, 20 heures, etc.)"
                      , 'Q8_3' : "Pour chacun des acteurs suivants, diriez-vous qu‚Äôil participe ou non √† la diffusion des ph√©nom√®nes obscurantistes dans la soci√©t√© fran√ßaise ? Les cha√Ænes d‚Äôinformations continues"
                      , 'Q8_4' : "Pour chacun des acteurs suivants, diriez-vous qu‚Äôil participe ou non √† la diffusion des ph√©nom√®nes obscurantistes dans la soci√©t√© fran√ßaise ? La radio"
                      , 'Q8_5' : "Pour chacun des acteurs suivants, diriez-vous qu‚Äôil participe ou non √† la diffusion des ph√©nom√®nes obscurantistes dans la soci√©t√© fran√ßaise ? Le personnel politique"
                      , 'Q8_6' : "Pour chacun des acteurs suivants, diriez-vous qu‚Äôil participe ou non √† la diffusion des ph√©nom√®nes obscurantistes dans la soci√©t√© fran√ßaise ? Les scientifiques"
                      , 'Q8_7' : "Pour chacun des acteurs suivants, diriez-vous qu‚Äôil participe ou non √† la diffusion des ph√©nom√®nes obscurantistes dans la soci√©t√© fran√ßaise ? Les religieux"
                      , 'Q8_8' : "Pour chacun des acteurs suivants, diriez-vous qu‚Äôil participe ou non √† la diffusion des ph√©nom√®nes obscurantistes dans la soci√©t√© fran√ßaise ? Les entreprises"
                      , 'Q8_9' : "Pour chacun des acteurs suivants, diriez-vous qu‚Äôil participe ou non √† la diffusion des ph√©nom√®nes obscurantistes dans la soci√©t√© fran√ßaise ? Les influenceurs sur le web"
                      , 'Q9_3' : "Avez-vous d√©j√† √©t√© confront√© au cours de votre vie √† une des situations suivantes ? Un proche a refus√© de se faire vacciner malgr√© les recommandations scientifiques"
                      , 'Q9_5': "Avez-vous d√©j√† √©t√© confront√© au cours de votre vie √† une des situations suivantes ? Un proche a tenu des propos contraires √† des faits historiques ou scientifiques √©tablis"
                      , 'Q10' : "De ces deux opinions, de laquelle vous sentez-vous le plus proche ?", 'Q11' : "Diriez-vous que pour les pouvoirs publics la lutte contre les d√©rives obscurantistes doit √™tre un enjeu‚Ä¶ ?"
                      , 'Q12' : "Pensez-vous que les pouvoirs publics en font trop, n‚Äôen font pas assez ou en font juste comme il faut en ce qui concerne les d√©rives obscurantistes ?"
                      , 'Q13_2' : "Pour chacun des groupes ou acteurs suivants, diriez-vous que vous lui faites confiance ou pas confiance pour lutter contre les ph√©nom√®nes obscurantistes ? Les √©lus, le personnel politique"
                      , 'Q13_6' : "Pour chacun des groupes ou acteurs suivants, diriez-vous que vous lui faites confiance ou pas confiance pour lutter contre les ph√©nom√®nes obscurantistes ? Les scientifiques"
                      , 'Q13_7' : "Pour chacun des groupes ou acteurs suivants, diriez-vous que vous lui faites confiance ou pas confiance pour lutter contre les ph√©nom√®nes obscurantistes ? Les enseignants, l‚ÄôEcole"
                      , 'Q14' : "Si vous aviez connaissance d‚Äôactions individuelles ne demandant pas de moyens particuliers, pour lutter contre l'obscurantisme, seriez-vous pr√™t √† vous engager dans cette lutte ?"
                      , 'Q15' : "Lorsque quelqu'un dans une conversation avec vous √©voque des convictions irrationnelles, avez-vous tendance‚Ä¶ ?"
                      , 'Q16' : "Lorsque vous voyez sur les r√©seaux sociaux des commentaires qui vous semblent obscurantistes, avez-vous tendance‚Ä¶ ?"
                      , 'Q18_1' : "Pour vous informer sur l‚Äôactualit√©, utilisez-vous chacun des m√©dias suivants ? Les journaux t√©l√©vis√©s (13 heures, 20 heures, etc.)"
                      , 'Q18_2' : "Pour vous informer sur l‚Äôactualit√©, utilisez-vous chacun des m√©dias suivants ? Les journaux d‚Äôinformations continues"
                      , 'Q18_3' : "Pour vous informer sur l‚Äôactualit√©, utilisez-vous chacun des m√©dias suivants ? Internet (y compris les r√©seaux sociaux)"
                      , 'Q18_4' : "Pour vous informer sur l‚Äôactualit√©, utilisez-vous chacun des m√©dias suivants ? La radio"
                      , 'Q18_5' : "Pour vous informer sur l‚Äôactualit√©, utilisez-vous chacun des m√©dias suivants ? Les journaux, la presse √©crite"
                      , 'Q18_6' : "Pour vous informer sur l‚Äôactualit√©, utilisez-vous chacun des m√©dias suivants ? Les applications de messagerie instantan√©e (WhatsApp, Telegram, etc.)"
                      , 'Q19_1' : "Plus pr√©cis√©ment, sur internet, utilisez-vous chacune des sources suivantes ? Les sites d‚Äôinformation des grands m√©dias"
                      , 'Q19_2' : "Plus pr√©cis√©ment, sur internet, utilisez-vous chacune des sources suivantes ? Les portails ou applications (Google News, Yahoo Actualit√©s, Actu Orange‚Ä¶)"
                      , 'Q19_3' : "Plus pr√©cis√©ment, sur internet, utilisez-vous chacune des sources suivantes ? Les sites de vid√©os en ligne (YouTube, Dailymotion, Vimeo‚Ä¶)"
                      , 'Q19_4' : "Plus pr√©cis√©ment, sur internet, utilisez-vous chacune des sources suivantes ? Les r√©seaux sociaux (Facebook, Twitter, Snapchat, Instagram, LinkedIn‚Ä¶)"
                      , 'Q20' : " A quelle fr√©quence partagez-vous du contenu traitant des informations sur les r√©seaux sociaux (Facebook, Watsapp, Twitter, etc.) ?"
                      , 'PRE22' : "Pour lequel des candidats suivants avez-vous vot√© lors du PREMIER TOUR de l'√©lection pr√©sidentielle, dimanche 10 avril 2022 ?"
                      , 'REL1' : " √ätes-vous ...?", 'REL2' : "Plus pr√©cis√©ment √™tes-vous... ?", 'RELI2' : "D'habitude, allez-vous √† un office religieux... ?"
                      , 'RRELI' : "Religion categories"}

In [10]:
# Variable 'SEXE'
# Question :  Vous √™tes... ?
data['SEXE'].value_counts()

SEXE
2    819
1    683
Name: count, dtype: int64

In [11]:
data['SEXE'] = data['SEXE'].astype('category')
data['SEXE'] =data['SEXE'].cat.rename_categories({1 : "Un homme"
                                                 , 2 : "Une femme"})

In [12]:
data['SEXE'] = pd.Categorical(data['SEXE'], 
                            categories=['Une femme', 'Un homme'], 
                            ordered=True)

In [13]:
data['QSEXE'].value_counts()

QSEXE
2    819
1    683
Name: count, dtype: int64

In [14]:
# Variable 'AGE'
# Question : Quel √¢ge avez-vous ?  Merci de noter votre √¢ge dans le cadre ci-dessous : 
data['AGE'].isna().sum()

0

In [209]:
# d√©finir une fonction pour recoder la variable 'AGE':
def age_groupes(x):
    if x >= 18 and x < 25:
        return "18-24"
    if x >= 25 and x < 35:
        return "25-34"
    if x >= 35 and x < 50:
        return "35-49"
    if x >= 50 and x < 65:
        return "50-64"
    if x >= 65 and x < 75:
        return "65-74"
    if x == 75 or x > 75:
        return "75 et plus"

In [210]:
data['Age_groupes']= data['AGE'].apply(lambda x : age_groupes(x))

In [211]:
data['Age_groupes'].value_counts()

Age_groupes
35-49         363
50-64         356
25-34         244
65-74         196
75 et plus    184
18-24         159
Name: count, dtype: int64

In [18]:
#changer l'order des categories de la variable 'Age_groupes'
data['Age_groupes'] = pd.Categorical(data['Age_groupes'], 
                            categories=['18-24', '25-34' ,'35-49'
                                        ,'50-64', '65-74'
                                       , '75plus'], 
                            ordered=True)

In [19]:
# Variable 'TAILCOM'
# Question : TAILCOM
data['TAILCOM'].value_counts()

TAILCOM
11    250
1     199
10    149
5     146
3     142
7     128
2     124
9     117
8     107
4      89
6      27
12     24
Name: count, dtype: int64

In [20]:
# d√©finir une fonction pour recoder la variable 'TAILCOM':
def taillcom_categories(x):
    if x ==1 :
        return "Moins de 1000 hab"
    if x == 2:
        return "De 1000 √† 1999 hab"
    if x == 3:
        return "De 2000 √† 3499 hab"
    if x == 4:
        return "De 3500 √† 4999 hab"
    if x == 5:
        return "De 5000 √† 8999 hab"
    if x == 6:
        return "De 9000 √† 9999 hab"
    if x == 7:
        return "De 10000 √† 19999 hab"
    if x == 8:
        return "De 20000 √† 29999 hab"
    if x == 9:
        return "De 30000 √† 49999 hab"
    if x == 10:
        return "De 50000 √† 99999 hab"
    if x == 11:
        return "100000 hab Et Plus"
    if x == 12:
        return "NRenseigne"

In [21]:
data['Taillcom_cat']= data['TAILCOM'].apply(lambda x : taillcom_categories(x))

In [22]:
#changer l'order des categories de la variable 'Taillcom_cat'
data['Taillcom_cat'] = pd.Categorical(data['Taillcom_cat'], 
                            categories=["Moins de 1000 hab", "De 1000 √† 1999 hab"
                                        , "De 2000 √† 3499 hab", "De 3500 √† 4999 hab", "De 5000 √† 8999 hab"
                                        , "De 9000 √† 9999 hab", "De 10000 √† 19999 hab"
                                        , "De 20000 √† 29999 hab", "De 30000 √† 49999 hab"
                                        , "De 50000 √† 99999 hab", "100000 hab Et Plus"
                                        , "NRenseigne"], 
                            ordered=True)

In [23]:
# Variable 'DPT'
# Question : D√©partement
data['DPT'].value_counts()

DPT
75    65
59    57
77    46
69    43
13    41
      ..
15     2
48     2
23     2
36     2
43     1
Name: count, Length: 95, dtype: int64

In [24]:
# Variable 'REG22'
# Question : R√©gion
data['REG22'].value_counts()

REG22
12    282
22    136
21    113
17     90
18     89
6      78
13     77
16     69
2      69
7      68
19     49
20     46
15     43
5      41
11     40
8      38
1      38
4      37
3      35
10     29
9      20
14     15
Name: count, dtype: int64

In [25]:
data['REG22'] = data['REG22'].astype('category')

In [26]:
data['REG22'] = data['REG22'].cat.rename_categories({1: "ALSACE", 2 : "AQUITAINE", 3 : "AUVERGNE"
                                                     , 4 : "BASSENORMANDIE", 5 : "BOURGOGNE", 6 : "BRETAGNE"
                                                     , 7 : "CENTRE", 8 : "CHAMPAGNEARDENNE", 9 : "CORSE"
                                                     , 10 : "FRANCHECOMTE", 11 : "HAUTENORMANDIE", 12 : "ILEDEFRANCE"
                                                     , 13 : "LANGUEDOCROUSSILLON" , 14 : "LIMOUSIN", 15 : "LORRAINE"
                                                     , 16 : "MIDIPYRENNEES", 17: "NORSPASDECALAIS", 18 : "PAYSDELALOIRE"
                                                     , 19 : "PICARDIE", 20 : "POITOUCHARENTES", 21 : "PACA"
                                                     , 22 : "RHONEALPES"})

In [27]:
# Variable 'SITI'
# Question : Actuellement, quelle est votre situation ?
data['SITI'].value_counts()

SITI
1    841
3    404
5     75
2     70
7     64
6     41
4      7
Name: count, dtype: int64

In [28]:
data['SITI'] = data['SITI'].astype('category')

In [29]:
data['SITI'] = data['SITI'].cat.rename_categories({1: "Vous exercez une activit√© professionnelle (actifs, apprentis, stagiaires)"
                                                   , 2 : "Vous √™tes ch√¥meur ou ch√¥meuse ayant d√©j√† travaill√©"
                                                   , 3 : "Vous √™tes √† la retraite ou en pr√©-retraite"
                                                   , 4 : "Vous √™tes √† la recherche d'un premier emploi"
                                                   , 5 : "Vous √™tes coll√©gien(ne), lyc√©en(ne) ou √©tudiant(e)"
                                                   , 6 : "Vous √™tes homme ou femme au foyer"
                                                   , 7 : "Vous √™tes dans une autre situation (invalide, sans activit√© professionnelle...)"})

In [30]:
# Variable 'PI0'
# Question : CSP
data['PI0'].value_counts()

PI0
7     309
5     250
4     219
6     200
8     181
3     160
9      75
2      62
10     34
1      12
Name: count, dtype: int64

In [31]:
data['PI0'] = data['PI0'].astype('category')

In [32]:
data['PI0'] = data['PI0'].cat.rename_categories({1: "Agriculteurs"
                                                   , 2 : "Artisans"
                                                   , 3 : "Cadres"
                                                   , 4 : "Intermediaires"
                                                   , 5 : "Employes"
                                                   , 6 : "Ouvriers"
                                                   , 7 : "Inactifs Anciens CSP Plus"
                                                   , 8 : "Inactifs AnciensCSP Moins"
                                                   , 9 : "Eleves Etudiants"
                                                   , 10 : "Inactif Jamais Travaille"})

In [33]:
data['PI0'].value_counts()

PI0
Inactifs Anciens CSP Plus    309
Employes                     250
Intermediaires               219
Ouvriers                     200
Inactifs AnciensCSP Moins    181
Cadres                       160
Eleves Etudiants              75
Artisans                      62
Inactif Jamais Travaille      34
Agriculteurs                  12
Name: count, dtype: int64

In [34]:
# Variable 'STCC'
# Question : Type de profession
data['STCC'].value_counts()

STCC
2.0    507
4.0    168
1.0    109
5.0     73
3.0     55
Name: count, dtype: int64

In [35]:
data['STCC'] = data['STCC'].astype('category')

In [36]:
data['STCC'] = data['STCC'].cat.rename_categories({1: "Chef Entreprise1"
                                                   , 2 : "Salarie Entreprise Privee"
                                                   , 3 : "Salarie Ent Public Secu1"
                                                   , 4 : "Salarie Fonc Public1"
                                                   , 5 : "Chomeur1"})

In [37]:
# Variable 'DIPL1'
# Question : √ätes-vous inscrit(e) dans un √©tablissement d‚Äôenseignement pour l‚Äôann√©e scolaire en cours ?  Y compris apprentissage ou √©tudes sup√©rieures.
data['DIPL1'].value_counts()

DIPL1
2    1328
1     174
Name: count, dtype: int64

In [38]:
data['DIPL1'] = data['DIPL1'].astype('category')

In [39]:
data['DIPL1'] = data['DIPL1'].cat.rename_categories({1: "Oui"
                                                   , 2 : "Non"})

In [40]:
#changer l'order des categories de la variable 'DIPL1'
data['DIPL1'] = pd.Categorical(data['DIPL1'], 
                            categories=['Non'
                                        , 'Oui'], 
                            ordered=True)

In [41]:
# Variable 'DIPL2'
# Question : √Ä ce jour, le plus haut dipl√¥me que vous poss√©dez est‚Ä¶ ?
data['DIPL2'].value_counts()

DIPL2
10    405
11    293
8     217
9     173
6     161
7     117
5      66
2      25
4      22
3      19
1       4
Name: count, dtype: int64

In [42]:
# d√©finir une fonction pour recoder la variable 'DIPL2':
def diplome(x):
    if x < 4 or x == 4:
        return "Aucun dipl√¥me, CEP"
    if x == 5 or x == 6 or x == 7:
        return "Avant Bac"
    if x == 9:
        return "Bac techno pro"
    if x == 8:
        return "Bac"
    if x == 10:
        return "Dipl√¥me de 1 er cycle universitaire , licence,BTS, DUT, dipl√¥me des professions sociales ou de la sant√©, d'infirmier"
    if x == 11:
        return "Dipl√¥me de 2 e ou 3 e cycle universitaire (y compris m√©decine, pharmacie, dentaire), master, dipl√¥me d‚Äôing√©nieur"

In [43]:
data['Diplome']= data['DIPL2'].apply(lambda x : diplome(x))

In [44]:
data['Diplome'].value_counts()

Diplome
Dipl√¥me de 1 er cycle universitaire , licence,BTS, DUT, dipl√¥me des professions sociales ou de la sant√©, d'infirmier    405
Avant Bac                                                                                                               344
Dipl√¥me de 2 e ou 3 e cycle universitaire (y compris m√©decine, pharmacie, dentaire), master, dipl√¥me d‚Äôing√©nieur        293
Bac                                                                                                                     217
Bac techno pro                                                                                                          173
Aucun dipl√¥me, CEP                                                                                                       70
Name: count, dtype: int64

In [45]:
#changer l'order des categories de la variable 'Diplome'
data["Diplome"] = pd.Categorical(data["Diplome"], 
                            categories=["Aucun dipl√¥me, CEP", "Avant Bac" , "Bac techno pro", "Bac"
                                        , "Dipl√¥me de 1 er cycle universitaire , licence,BTS, DUT, dipl√¥me des professions sociales ou de la sant√©, d'infirmier"
                                       , "Dipl√¥me de 2 e ou 3 e cycle universitaire (y compris m√©decine, pharmacie, dentaire), master, dipl√¥me d‚Äôing√©nieur"], 
                            ordered=True)

In [46]:
# Variable 'FOYER'
# Question : De combien de personnes se compose votre foyer y compris vous-m√™me ?
data['FOYER'].value_counts()

FOYER
2    596
1    339
3    252
4    233
5     60
6     13
7      5
9      3
8      1
Name: count, dtype: int64

In [47]:
# d√©finir une fonction pour recoder la variable 'FOYER':
def foyer(x):
    if x == 1:
        return "1 personne"
    if x == 2:
        return "2 personnes"
    if x == 3:
        return "3 personnes"
    if x == 4:
        return "4 personnes"
    if x == 5:
        return "5 personnes"
    if x == 6:
        return "6 personnes"
    if x == 7:
        return "7 personnes"
    if x == 8:
        return "8 personnes"
    if x == 9:
        return "9 personnes et plus"

In [48]:
data['FOYER']= data['FOYER'].apply(lambda x : foyer(x))

In [49]:
data['FOYER'].value_counts()

FOYER
2 personnes            596
1 personne             339
3 personnes            252
4 personnes            233
5 personnes             60
6 personnes             13
7 personnes              5
9 personnes et plus      3
8 personnes              1
Name: count, dtype: int64

In [50]:
#changer l'order des categories de la variable 'FOYER'
data["FOYER"] = pd.Categorical(data["FOYER"], 
                            categories=["1 personne", "2 personnes" , "3 personnes", "4 personnes"
                                        , "5 personnes" , "6 personnes", "7 personnes"
                                       , "8 personnes", "9 personnes et plus"], 
                            ordered=True)

In [51]:
# Variable 'REV'
# Question : En prenant en compte tous les types de revenus que touchent les membres de votre foyer, quel est actuellement le montant mensuel net des ressources de l‚Äôensemble de votre m√©nage ?
data['REV'].value_counts()

REV
4    338
5    295
6    213
3    205
7    175
2    167
1    109
Name: count, dtype: int64

In [52]:
# d√©finir une fonction pour recoder la variable 'REV':
def revenu(x):
    if x == 1:
        return "Moins de 1 000 ‚Ç¨"
    if x == 2:
        return "De 1 000 √† moins de 1 500 ‚Ç¨"
    if x == 3:
        return "De 1 500 √† moins de 2 000 ‚Ç¨"
    if x == 4:
        return "De 2 000 √† moins de 3 000 ‚Ç¨"
    if x == 5:
        return "De 3 000 √† moins de 4 000 ‚Ç¨"
    if x == 6:
        return "4 000 ‚Ç¨ et plus"
    if x == 7:
        return "Vous ne souhaitez pas r√©pondre"

In [53]:
data['REV']= data['REV'].apply(lambda x : revenu(x))

In [54]:
data['REV'].value_counts()

REV
De 2 000 √† moins de 3 000 ‚Ç¨       338
De 3 000 √† moins de 4 000 ‚Ç¨       295
4 000 ‚Ç¨ et plus                   213
De 1 500 √† moins de 2 000 ‚Ç¨       205
Vous ne souhaitez pas r√©pondre    175
De 1 000 √† moins de 1 500 ‚Ç¨       167
Moins de 1 000 ‚Ç¨                  109
Name: count, dtype: int64

In [55]:
#changer l'order des categories de la variable'REV'
data['REV'] = pd.Categorical(data['REV'], 
                            categories=['Moins de 1 000 ‚Ç¨', 'De 1 000 √† moins de 1 500 ‚Ç¨' ,'De 1 500 √† moins de 2 000 ‚Ç¨'
                                        ,'De 2 000 √† moins de 3 000 ‚Ç¨', 'De 3 000 √† moins de 4 000 ‚Ç¨'
                                       , '4 000 ‚Ç¨ et plus', 'Vous ne souhaitez pas r√©pondre'], 
                            ordered=True)

In [56]:
# Variable 'PROX'
# Question : De laquelle des formations politiques suivantes vous sentez-vous le plus proche ou disons le moins √©loign√©(e) ?
data['PROX'].value_counts()

PROX
23    579
20    199
10    136
3      90
16     89
6      87
8      60
21     38
4      32
11     27
1      24
9      19
17     18
2      17
5      17
13     17
22     16
15     10
12      9
19      8
14      4
7       3
18      3
Name: count, dtype: int64

In [57]:
# d√©finir une fonction pour recoder la variable 'PROX':
def PROX_noms(x):
    if x == 1:
        return "Lutte ouvri√®re (LO)"
    if x == 2:
        return "Le Nouveau Parti anticapitaliste (NPA)"
    if x == 3:
        return "La France insoumise (LFI)"
    if x == 4:
        return "Le Parti communiste fran√ßais (PCF)"
    if x == 5:
        return "G√©n√©ration.s (G¬∑s) de Beno√Æt Hamon"
    if x == 6:
        return "Le Parti socialiste (PS)"
    if x == 7:
        return "Le Parti radical de gauche (PRG)"
    if x == 8:
        return "Europe √âcologie Les Verts (E√âLV)"
    if x == 9:
        return "Le Parti animaliste (PA)"
    if x == 10:
        return "Renaissance (anciennement La R√©publique en marche)"
    if x == 11:
        return "Le Mouvement d√©mocrate (MoDem)"
    if x == 12:
        return "Agir"
    if x == 13:
        return "Horizons d‚Äô√âdouard Philippe"
    if x == 14:
        return "Les Centristes (LC)"
    if x == 15:
        return "L‚ÄôUnion des d√©mocrates et ind√©pendants (UDI)"
    if x == 16:
        return "Les R√©publicains (LR)"
    if x == 17:
        return "Debout la France (DLF)"
    if x == 18:
        return "L‚ÄôUnion populaire r√©publicaine (UPR)"
    if x == 19:
        return "Les Patriotes (LP) de Florian Philippot"
    if x == 20:
        return "Le Rassemblement national (RN)"
    if x == 21:
        return "Reconqu√™te ! d‚Äô√âric Zemmour"
    if x == 22:
        return "Une autre formation politique"
    if x == 23:
        return "Aucune formation politique"

In [58]:
data['PROX_nom']= data['PROX'].apply(lambda x : PROX_noms(x))
data['PROX_nom'].value_counts()

PROX_nom
Aucune formation politique                            579
Le Rassemblement national (RN)                        199
Renaissance (anciennement La R√©publique en marche)    136
La France insoumise (LFI)                              90
Les R√©publicains (LR)                                  89
Le Parti socialiste (PS)                               87
Europe √âcologie Les Verts (E√âLV)                       60
Reconqu√™te ! d‚Äô√âric Zemmour                            38
Le Parti communiste fran√ßais (PCF)                     32
Le Mouvement d√©mocrate (MoDem)                         27
Lutte ouvri√®re (LO)                                    24
Le Parti animaliste (PA)                               19
Debout la France (DLF)                                 18
Le Nouveau Parti anticapitaliste (NPA)                 17
G√©n√©ration.s (G¬∑s) de Beno√Æt Hamon                     17
Horizons d‚Äô√âdouard Philippe                            17
Une autre formation politique                          16
L‚ÄôUnion des d√©mocrates et ind√©pendants (UDI)           10
Agir                                                    9
Les Patriotes (LP) de Florian Philippot                 8
Les Centristes (LC)                                     4
Le Parti radical de gauche (PRG)                        3
L‚ÄôUnion populaire r√©publicaine (UPR)                    3
Name: count, dtype: int64

In [59]:
# d√©finir une fonction pour recoder la variable 'PROX':
def PROX_categories(x):
    if x < 4 or x == 4:
        return "Gauche radicale"
    if x == 5 or x == 6 or x == 7:
        return "Gauche"
    if x == 8:
        return "Verts"
    if x == 9:
        return "Animaliste"
    if x == 10 or x == 11:
        return "Centre"
    if x == 14 or x == 15:
        return "Centre"
    if x == 12 or x == 13 or x == 16:
        return "Droite"
    if x == 17 or x == 18 or x == 19:
        return "Droite radicale"
    if x == 20 or x == 21:
        return "Droite radicale"
    if x == 22:
        return "Autre"
    if x == 23:
        return "Aucune"

In [60]:
data['PROX_cat']= data['PROX'].apply(lambda x : PROX_categories(x))
data['PROX_cat'].value_counts()

PROX_cat
Aucune             579
Droite radicale    266
Centre             177
Gauche radicale    163
Droite             115
Gauche             107
Verts               60
Animaliste          19
Autre               16
Name: count, dtype: int64

In [61]:
# Variable 'RS11'
# Question :  Pensez-vous que dans les grands d√©bats de soci√©t√© actuels, la science a‚Ä¶ ?
data['RS11'].value_counts()

RS11
Ni trop, ni pas assez de place    760
Pas assez de place                639
Trop de place                     103
Name: count, dtype: int64

In [62]:
# Variable 'Q2_1'
# Question : Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ?  Une r√©ponse par ligne. Les sectes
data['Q2_1'].value_counts()

Q2_1
1    851
2    348
4    171
3    132
Name: count, dtype: int64

In [63]:
# Variable 'Q2_2'
# Question : Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ?  Une r√©ponse par ligne. Le Christianisme
data['Q2_2'].value_counts()

Q2_2
3    546
2    487
4    275
1    194
Name: count, dtype: int64

In [64]:
# Variable 'Q2_3'
# Question : Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ?  Une r√©ponse par ligne. Le Juda√Øsme
data['Q2_3'].value_counts()

Q2_3
3    577
2    469
4    276
1    180
Name: count, dtype: int64

In [65]:
# Variable 'Q2_4'
# Question : Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ?  Une r√©ponse par ligne. L‚ÄôIslam
data['Q2_4'].value_counts()

Q2_4
2    493
1    477
3    307
4    225
Name: count, dtype: int64

In [66]:
# Variable 'Q2_5'
# Question : Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ?  Une r√©ponse par ligne. Le Bouddhisme
data['Q2_5'].value_counts()

Q2_5
3    702
4    385
2    311
1    104
Name: count, dtype: int64

In [67]:
# Variable 'Q2_6'
# Question : Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ?  Une r√©ponse par ligne. Les religions en g√©n√©ral
data['Q2_6'].value_counts()

Q2_6
2    582
3    455
1    274
4    191
Name: count, dtype: int64

In [68]:
# Variable 'Q2_7'
# Question :  Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ?  Une r√©ponse par ligne. Les mouvements d‚Äôultra gauche
data['Q2_7'].value_counts()

Q2_7
2    528
3    394
1    357
4    223
Name: count, dtype: int64

In [69]:
# Variable 'Q2_8'
# Question : Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ?  Une r√©ponse par ligne. Les mouvements d‚Äôultra droite
data['Q2_8'].value_counts()

Q2_8
2    521
1    457
3    323
4    201
Name: count, dtype: int64

In [70]:
# Variable 'Q2_9'
# Question : Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ?  Une r√©ponse par ligne. Les mouvements complotistes
data['Q2_9'].value_counts()

Q2_9
1    612
2    510
3    193
4    187
Name: count, dtype: int64

In [71]:
# Variable 'Q2_10'
# Question : Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ?  Une r√©ponse par ligne. Les m√©decines alternatives
data['Q2_10'].value_counts()

Q2_10
3    597
2    482
4    261
1    162
Name: count, dtype: int64

In [72]:
# Variable 'Q2_11'
# Question : Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ?  Une r√©ponse par ligne. Les mouvements n√©o-f√©ministes
data['Q2_11'].value_counts()

Q2_11
2    534
3    527
4    237
1    204
Name: count, dtype: int64

In [73]:
# Variable 'Q2_12'
# Question : Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ?  Une r√©ponse par ligne. Le wokisme
data['Q2_12'].value_counts()

Q2_12
2    469
3    457
1    319
4    257
Name: count, dtype: int64

In [74]:
# Variable 'Q2_13'
# Question :  Pour chacun des termes ou groupes suivants, diriez-vous qu‚Äôil est concern√© ou travers√© par des formes d‚Äôobscurantisme ?  Une r√©ponse par ligne. Le survivalisme
data['Q2_13'].value_counts()

Q2_13
2    558
3    423
1    314
4    207
Name: count, dtype: int64

In [75]:
data[['Q2_1', 'Q2_2', 'Q2_3', 'Q2_4', 'Q2_5', 'Q2_6', 'Q2_7', 'Q2_8', 'Q2_9', 'Q2_10', 'Q2_11', 'Q2_12', 'Q2_13']] = data[['Q2_1', 'Q2_2', 'Q2_3', 'Q2_4', 'Q2_5', 'Q2_6', 'Q2_7', 'Q2_8', 'Q2_9', 'Q2_10', 'Q2_11', 'Q2_12', 'Q2_13']].astype('category')

In [76]:
ItemsQ2 = ['Q2_1', 'Q2_2', 'Q2_3', 'Q2_4', 'Q2_5', 'Q2_6', 'Q2_7', 'Q2_8', 'Q2_9', 'Q2_10', 'Q2_11', 'Q2_12', 'Q2_13']

In [77]:
for i in data[ItemsQ2].columns:
    data[i] = data[i].cat.rename_categories({1: "Oui, tout √† fait"
                                                 , 2 : "Oui, plut√¥t"
                                                 , 3 : "Non, plut√¥t pas"
                                                 , 4 : "Non, pas du tout"})

In [78]:
#changer l'order des categories
for i in data[ItemsQ2].columns:
    data[i] = pd.Categorical(data[i], 
                            categories=['Non, pas du tout'
                                        , 'Non, plut√¥t pas'
                                        , 'Oui, plut√¥t'
                                       , 'Oui, tout √† fait'], 
                            ordered=True)

In [79]:
# Variable 'Q3A'
# Question : Quel mot parmi les suivants se rapproche selon vous le plus de l‚Äôobscurantisme ? En premier ?
data['Q3A'].value_counts()

Q3A
6    299
1    271
3    244
7    204
4    199
2    149
5    136
Name: count, dtype: int64

In [80]:
# Variable 'Q3B'
# Question : Quel mot parmi les suivants se rapproche selon vous le plus de l‚Äôobscurantisme ? En deuxi√®me ?
data['Q3B'].value_counts()

Q3B
1    270
7    249
4    247
3    245
2    189
6    166
5    136
Name: count, dtype: int64

In [81]:
# Variable 'Q3C'
# Question : Quel mot parmi les suivants se rapproche selon vous le plus de l‚Äôobscurantisme ? Et en troisi√®me ?
data['Q3C'].value_counts()

Q3C
1    283
7    258
3    258
4    235
2    202
6    138
5    128
Name: count, dtype: int64

In [82]:
data[['Q3A', 'Q3B', 'Q3C']] = data[['Q3A', 'Q3B', 'Q3C']].astype('category')

In [83]:
ItemsQ3 = ['Q3A', 'Q3B', 'Q3C']

In [84]:
for i in data[ItemsQ3].columns:
    data[i] = data[i].cat.rename_categories({1: "Le fanatisme"
                                                 , 2 : "Le terrorisme"
                                                 , 3 : "Les sectes"
                                                 , 4 : "Le complotisme"
                                                 , 5 : "Les religions"
                                                 , 6 : "La remise en cause de la science"
                                                 , 7 : "La radicalisation"})

In [85]:
# creer une colonne de placement des sectes en 2 groupes:
# d√©finir une fonction pour recoder la variable 'Q3A':
def placement_sctes_1(x):
    if x == "Les sectes" :
        return "Les sectes en premier"
    if x != "Les sectes":
        return "Les sectes pas en premier"

In [86]:
data['Sectes_premier']= data['Q3A'].apply(lambda x : placement_sctes_1(x))

In [87]:
data['Sectes_premier'].value_counts()

Sectes_premier
Les sectes pas en premier    1258
Les sectes en premier         244
Name: count, dtype: int64

In [88]:
#changer l'order des categories de la variable 'Sectes_premier'
data['Sectes_premier'] = pd.Categorical(data['Sectes_premier'], 
                            categories=['Les sectes pas en premier'
                                        , 'Les sectes en premier'], 
                            ordered=True)

In [89]:
# creer une colonne de placement des sectes en 4 groupes:
# List of conditions
conditions = [
     (data['Q3A'] == 'Les sectes') & (data['Q3B'] != 'Les sectes') & 
     (data['Q3C'] != 'Les sectes')
    ,(data['Q3A'] != 'Les sectes') & (data['Q3B'] == 'Les sectes') &
     (data['Q3C'] != 'Les sectes') 
    ,(data['Q3A'] != 'Les sectes') & (data['Q3B'] != 'Les sectes') &
     (data['Q3C'] == 'Les sectes')
    ,(data['Q3A'] != 'Les sectes') & (data['Q3B'] != 'Les sectes') &
     (data['Q3C'] != 'Les sectes') 
   
]# List of values to return
choices  = [
      "Premi√®re place" 
    , "Deuxi√®me place"
    , "Troisi√®me place"
    , "Pas dans les 3 premi√®res"
]# create a new column in the data based on the conditions
data["Sectes_obscurantisme_placement"] = np.select(conditions, choices)

In [90]:
#changer l'order des categories de la variable 'Sectes_obscurantisme_placement'
data['Sectes_obscurantisme_placement'] = pd.Categorical(data['Sectes_obscurantisme_placement'], 
                            categories=['Pas dans les 3 premi√®res', 'Premi√®re place', 'Deuxi√®me place'
                                        , 'Troisi√®me place'], 
                            ordered=True)

In [91]:
data['Sectes_obscurantisme_placement'].value_counts()

Sectes_obscurantisme_placement
Pas dans les 3 premi√®res    755
Troisi√®me place             258
Deuxi√®me place              245
Premi√®re place              244
Name: count, dtype: int64

In [92]:
# creer une colonne de placement du complotisme en 2 groupes:
# d√©finir une fonction pour recoder la variable 'Q3A':
def placement_complotisme_1(x):
    if x == "Le complotisme" :
        return "Le complotisme en premier"
    if x != "Le complotisme":
        return "Le complotisme pas en premier"

In [93]:
data['Complotisme_premier']= data['Q3A'].apply(lambda x : placement_complotisme_1(x))

In [94]:
#changer l'order des categories de la variable 'Sectes_premier'
data['Complotisme_premier'] = pd.Categorical(data['Complotisme_premier'], 
                            categories=['Le complotisme pas en premier'
                                        , 'Le complotisme en premier'], 
                            ordered=True)

In [95]:
data['Complotisme_premier'].value_counts()

Complotisme_premier
Le complotisme pas en premier    1303
Le complotisme en premier         199
Name: count, dtype: int64

In [96]:
# creer une colonne de placement du complotisme en 4 groupes:
# List of conditions
conditions = [
     (data['Q3A'] == 'Le complotisme') & (data['Q3B'] != 'Le complotisme') & 
     (data['Q3C'] != 'Le complotisme')
    ,(data['Q3A'] != 'Le complotisme') & (data['Q3B'] == 'Le complotisme') &
     (data['Q3C'] != 'Le complotisme') 
    ,(data['Q3A'] != 'Le complotisme') & (data['Q3B'] != 'Le complotisme') &
     (data['Q3C'] == 'Le complotisme')
    ,(data['Q3A'] != 'Le complotisme') & (data['Q3B'] != 'Le complotisme') &
     (data['Q3C'] != 'Le complotisme') 
   
]# List of values to return
choices  = [
      "Premi√®re place" 
    , "Deuxi√®me place"
    , "Troisi√®me place"
    , "Pas dans les 3 premi√®res"
]# create a new column in the data based on the conditions
data["Complotisme_obscurantisme_placement"] = np.select(conditions, choices)

In [97]:
#changer l'order des categories de la variable 'Complotisme_obscurantisme_placement'
data['Complotisme_obscurantisme_placement'] = pd.Categorical(data['Complotisme_obscurantisme_placement'], 
                            categories=['Pas dans les 3 premi√®res', 'Premi√®re place', 'Deuxi√®me place'
                                        , 'Troisi√®me place'], 
                            ordered=True)

In [98]:
data['Complotisme_obscurantisme_placement'].value_counts()

Complotisme_obscurantisme_placement
Pas dans les 3 premi√®res    821
Deuxi√®me place              247
Troisi√®me place             235
Premi√®re place              199
Name: count, dtype: int64

In [99]:
# creer une colonne de placement des religions en 2 groupes:
# d√©finir une fonction pour recoder la variable 'Q3A':
def placement_religions_1(x):
    if x == "Les religions" :
        return "Les religions en premier"
    if x != "Les religions":
        return "Les religions pas en premier"

In [100]:
data['Religions_premier']= data['Q3A'].apply(lambda x : placement_religions_1(x))

In [101]:
#changer l'order des categories de la variable 'Religions_premier'
data['Religions_premier'] = pd.Categorical(data['Religions_premier'], 
                            categories=['Les religions pas en premier'
                                        , 'Les religions en premier'], 
                            ordered=True)

In [102]:
data['Religions_premier'].value_counts()

Religions_premier
Les religions pas en premier    1366
Les religions en premier         136
Name: count, dtype: int64

In [103]:
# creer une colonne de placement des religions en 4 groupes:
# List of conditions
conditions = [
     (data['Q3A'] == 'Les religions') & (data['Q3B'] != 'Les religions') & 
     (data['Q3C'] != 'Les religions')
    ,(data['Q3A'] != 'Les religions') & (data['Q3B'] == 'Les religions') &
     (data['Q3C'] != 'Les religions') 
    ,(data['Q3A'] != 'Les religions') & (data['Q3B'] != 'Les religions') &
     (data['Q3C'] == 'Les religions')
    ,(data['Q3A'] != 'Les religions') & (data['Q3B'] != 'Les religions') &
     (data['Q3C'] != 'Les religions') 
   
]# List of values to return
choices  = [
      "Premi√®re place" 
    , "Deuxi√®me place"
    , "Troisi√®me place"
    , "Pas dans les 3 premi√®res"
]# create a new column in the data based on the conditions
data["Religions_obscurantisme_placement"] = np.select(conditions, choices)

In [104]:
#changer l'order des categories de la variable 'Religions_obscurantisme_placement'
data['Religions_obscurantisme_placement'] = pd.Categorical(data['Religions_obscurantisme_placement'], 
                            categories=['Pas dans les 3 premi√®res', 'Premi√®re place', 'Deuxi√®me place'
                                        , 'Troisi√®me place'], 
                            ordered=True)

In [105]:
data['Religions_obscurantisme_placement'].value_counts()

Religions_obscurantisme_placement
Pas dans les 3 premi√®res    1102
Premi√®re place               136
Deuxi√®me place               136
Troisi√®me place              128
Name: count, dtype: int64

In [106]:
# creer une colonne de placement de La remise en cause de la science en 2 groupes:
# d√©finir une fonction pour recoder la variable 'Q3A':
def placement_science_1(x):
    if x == "La remise en cause de la science" :
        return "La remise en cause de la science en premier"
    if x != "La remise en cause de la science":
        return "La remise en cause de la science pas en premier"

In [107]:
data['Remise_en_cause_science_premier']= data['Q3A'].apply(lambda x : placement_science_1(x))

In [108]:
#changer l'order des categories de la variable 'Remise_en_cause_science_premier'
data['Remise_en_cause_science_premier'] = pd.Categorical(data['Remise_en_cause_science_premier'], 
                            categories=['La remise en cause de la science pas en premier'
                                        , 'La remise en cause de la science en premier'], 
                            ordered=True)

In [109]:
data['Remise_en_cause_science_premier'].value_counts()

Remise_en_cause_science_premier
La remise en cause de la science pas en premier    1203
La remise en cause de la science en premier         299
Name: count, dtype: int64

In [110]:
# creer une colonne de placement de la remise en cause de la science en 4 groupes:
# List of conditions
conditions = [
     (data['Q3A'] == 'La remise en cause de la science') & (data['Q3B'] != 'La remise en cause de la science') & 
     (data['Q3C'] != 'La remise en cause de la science')
    ,(data['Q3A'] != 'La remise en cause de la science') & (data['Q3B'] == 'La remise en cause de la science') &
     (data['Q3C'] != 'La remise en cause de la science') 
    ,(data['Q3A'] != 'La remise en cause de la science') & (data['Q3B'] != 'La remise en cause de la science') &
     (data['Q3C'] == 'La remise en cause de la science')
    ,(data['Q3A'] != 'La remise en cause de la science') & (data['Q3B'] != 'La remise en cause de la science') &
     (data['Q3C'] != 'La remise en cause de la science') 
   
]# List of values to return
choices  = [
      "Premi√®re place" 
    , "Deuxi√®me place"
    , "Troisi√®me place"
    , "Pas dans les 3 premi√®res"
]# create a new column in the data based on the conditions
data["Remise_en_cause_science_obscurantisme_placement"] = np.select(conditions, choices)

In [111]:
#changer l'order des categories de la variable 'Remise_en_cause_science_obscurantisme_placement'
data['Remise_en_cause_science_obscurantisme_placement'] = pd.Categorical(data['Remise_en_cause_science_obscurantisme_placement'], 
                            categories=['Pas dans les 3 premi√®res', 'Premi√®re place', 'Deuxi√®me place'
                                        , 'Troisi√®me place'], 
                            ordered=True)

In [112]:
data['Remise_en_cause_science_obscurantisme_placement'].value_counts()

Remise_en_cause_science_obscurantisme_placement
Pas dans les 3 premi√®res    899
Premi√®re place              299
Deuxi√®me place              166
Troisi√®me place             138
Name: count, dtype: int64

In [113]:
# Variable 'Q4_1'
# Question :  Pour chacune des phrases suivantes, indiquez si vous √™tes tout √† fait d‚Äôaccord, plut√¥t d‚Äôaccord, pas vraiment d‚Äôaccord ou pas du tout d‚Äôaccord. Une r√©ponse par ligne. L‚Äôobscurantisme repr√©sente une menace s√©rieuse pour la R√©publi
data['Q4_1'].value_counts()

Q4_1
2    655
1    534
3    225
4     88
Name: count, dtype: int64

In [114]:
# Variable 'Q4_2'
# Question :  Pour chacune des phrases suivantes, indiquez si vous √™tes tout √† fait d‚Äôaccord, plut√¥t d‚Äôaccord, pas vraiment d‚Äôaccord ou pas du tout d‚Äôaccord.  Une r√©ponse par ligne. L‚Äôobscurantisme est un ph√©nom√®ne r√©pandu au sein de la soci√©t
data['Q4_2'].value_counts()

Q4_2
2    738
3    443
1    228
4     93
Name: count, dtype: int64

In [115]:
# Variable 'Q4_3'
# Question : Pour chacune des phrases suivantes, indiquez si vous √™tes tout √† fait d‚Äôaccord, plut√¥t d‚Äôaccord, pas vraiment d‚Äôaccord ou pas du tout d‚Äôaccord.  Une r√©ponse par ligne. L‚Äôobscurantisme est un ph√©nom√®ne en progression au sein de la s
data['Q4_3'].value_counts()

Q4_3
2    799
1    340
3    276
4     87
Name: count, dtype: int64

In [116]:
# Variable 'Q4_4'
# Question : Pour chacune des phrases suivantes, indiquez si vous √™tes tout √† fait d‚Äôaccord, plut√¥t d‚Äôaccord, pas vraiment d‚Äôaccord ou pas du tout d‚Äôaccord.  Une r√©ponse par ligne. L‚Äôobscurantisme est un ph√©nom√®ne qui a toujours exist√©
data['Q4_4'].value_counts()

Q4_4
2    832
1    403
3    191
4     76
Name: count, dtype: int64

In [117]:
# Variable 'Q4_5'
# Question : Pour chacune des phrases suivantes, indiquez si vous √™tes tout √† fait d‚Äôaccord, plut√¥t d‚Äôaccord, pas vraiment d‚Äôaccord ou pas du tout d‚Äôaccord.  Une r√©ponse par ligne. L‚Äôobscurantisme est un ph√©nom√®ne contre lequel on peut lutter e
data['Q4_5'].value_counts()

Q4_5
2    624
3    531
1    209
4    138
Name: count, dtype: int64

In [118]:
# Variable 'Q4_6'
# Question : Pour chacune des phrases suivantes, indiquez si vous √™tes tout √† fait d‚Äôaccord, plut√¥t d‚Äôaccord, pas vraiment d‚Äôaccord ou pas du tout d‚Äôaccord.  Une r√©ponse par ligne. L‚Äôobscurantisme est un ph√©nom√®ne contre lequel il est indispens
data['Q4_6'].value_counts()

Q4_6
1    734
2    540
3    155
4     73
Name: count, dtype: int64

In [119]:
# Variable 'Q4_7'
# Question :  Pour chacune des phrases suivantes, indiquez si vous √™tes tout √† fait d‚Äôaccord, plut√¥t d‚Äôaccord, pas vraiment d‚Äôaccord ou pas du tout d‚Äôaccord.  Une r√©ponse par ligne. L‚Äôobscurantisme est un ph√©nom√®ne dont on exag√®re la port√©e.
data['Q4_7'].value_counts()

Q4_7
3    736
4    383
2    303
1     80
Name: count, dtype: int64

In [120]:
# Variable 'Q4_8'
# Question : Pour chacune des phrases suivantes, indiquez si vous √™tes tout √† fait d‚Äôaccord, plut√¥t d‚Äôaccord, pas vraiment d‚Äôaccord ou pas du tout d‚Äôaccord.  Une r√©ponse par ligne. La notion d‚Äôobscurantisme est utilis√©e pour d√©nigrer ou disqual
data['Q4_8'].value_counts()

Q4_8
2    624
1    349
3    346
4    183
Name: count, dtype: int64

In [121]:
data[['Q4_1', 'Q4_2', 'Q4_3', 'Q4_4', 'Q4_5', 'Q4_6', 'Q4_7', 'Q4_8']] = data[['Q4_1', 'Q4_2', 'Q4_3', 'Q4_4', 'Q4_5', 'Q4_6', 'Q4_7', 'Q4_8']].astype('category')

In [122]:
ItemsQ4 = ['Q4_1', 'Q4_2', 'Q4_3', 'Q4_4', 'Q4_5', 'Q4_6', 'Q4_7', 'Q4_8']

In [123]:
for i in data[ItemsQ4].columns:
    data[i] = data[i].cat.rename_categories({1: "Tout √† fait d‚Äôaccord"
                                                 , 2 : "Plut√¥t d‚Äôaccord"
                                                 , 3 : "Plut√¥t pas d‚Äôaccord"
                                                 , 4 : "Pas du tout d‚Äôaccord"})

In [124]:
#changer l'order des categories
for i in data[ItemsQ4].columns:
    data[i] = pd.Categorical(data[i], 
                            categories=['Pas du tout d‚Äôaccord'
                                        , 'Plut√¥t pas d‚Äôaccord'
                                        , 'Plut√¥t d‚Äôaccord'
                                       , 'Tout √† fait d‚Äôaccord'], 
                            ordered=True)

In [125]:
# Variable 'Q8_1'
# Question :  Pour chacun des acteurs suivants, diriez-vous qu‚Äôil participe ou non √† la diffusion des ph√©nom√®nes obscurantistes dans la soci√©t√© fran√ßaise ?  Une r√©ponse par ligne. Les r√©seaux sociaux
data['Q8_1'].value_counts()

Q8_1
1    929
2    454
3    119
Name: count, dtype: int64

In [126]:
# Variable 'Q8_2'
# Question :  Pour chacun des acteurs suivants, diriez-vous qu‚Äôil participe ou non √† la diffusion des ph√©nom√®nes obscurantistes dans la soci√©t√© fran√ßaise ?  Une r√©ponse par ligne. Les journaux t√©l√©vis√©s (13 heures, 20 heures, etc.)
data['Q8_2'].value_counts()

Q8_2
2    738
3    487
1    277
Name: count, dtype: int64

In [127]:
# Variable 'Q8_3'
# Question : Pour chacun des acteurs suivants, diriez-vous qu‚Äôil participe ou non √† la diffusion des ph√©nom√®nes obscurantistes dans la soci√©t√© fran√ßaise ?  Une r√©ponse par ligne. Les cha√Ænes d‚Äôinformations continues
data['Q8_3'].value_counts()

Q8_3
2    742
1    433
3    327
Name: count, dtype: int64

In [128]:
# Variable 'Q8_4'
# Question : Pour chacun des acteurs suivants, diriez-vous qu‚Äôil participe ou non √† la diffusion des ph√©nom√®nes obscurantistes dans la soci√©t√© fran√ßaise ?  Une r√©ponse par ligne. La radio
data['Q8_4'].value_counts()

Q8_4
2    796
3    495
1    211
Name: count, dtype: int64

In [129]:
# Variable 'Q8_5'
# Question : Pour chacun des acteurs suivants, diriez-vous qu‚Äôil participe ou non √† la diffusion des ph√©nom√®nes obscurantistes dans la soci√©t√© fran√ßaise ?  Une r√©ponse par ligne. Le personnel politique
data['Q8_5'].value_counts()

Q8_5
2    778
1    402
3    322
Name: count, dtype: int64

In [130]:
# Variable 'Q8_6'
# Question : Pour chacun des acteurs suivants, diriez-vous qu‚Äôil participe ou non √† la diffusion des ph√©nom√®nes obscurantistes dans la soci√©t√© fran√ßaise ?  Une r√©ponse par ligne. Les scientifiques
data['Q8_6'].value_counts()

Q8_6
3    719
2    640
1    143
Name: count, dtype: int64

In [131]:
# Variable 'Q8_7'
# Question :  Pour chacun des acteurs suivants, diriez-vous qu‚Äôil participe ou non √† la diffusion des ph√©nom√®nes obscurantistes dans la soci√©t√© fran√ßaise ?  Une r√©ponse par ligne. Les religieux
data['Q8_7'].value_counts()

Q8_7
1    689
2    618
3    195
Name: count, dtype: int64

In [132]:
# Variable 'Q8_8'
# Question : Pour chacun des acteurs suivants, diriez-vous qu‚Äôil participe ou non √† la diffusion des ph√©nom√®nes obscurantistes dans la soci√©t√© fran√ßaise ?  Une r√©ponse par ligne. Les entreprises
data['Q8_8'].value_counts()

Q8_8
3    767
2    639
1     96
Name: count, dtype: int64

In [133]:
# Variable 'Q8_9'
# Question :  Pour chacun des acteurs suivants, diriez-vous qu‚Äôil participe ou non √† la diffusion des ph√©nom√®nes obscurantistes dans la soci√©t√© fran√ßaise ?  Une r√©ponse par ligne. Les influenceurs sur le web
data['Q8_9'].value_counts()

Q8_9
1    743
2    596
3    163
Name: count, dtype: int64

In [134]:
data[['Q8_1', 'Q8_2', 'Q8_3', 'Q8_4', 'Q8_5', 'Q8_6', 'Q8_7', 'Q8_8', 'Q8_9']] = data[['Q8_1', 'Q8_2', 'Q8_3', 'Q8_4', 'Q8_5', 'Q8_6', 'Q8_7', 'Q8_8', 'Q8_9']].astype('category')

In [135]:
ItemsQ8 = ['Q8_1', 'Q8_2', 'Q8_3', 'Q8_4', 'Q8_5', 'Q8_6', 'Q8_7', 'Q8_8', 'Q8_9']

In [136]:
for i in data[ItemsQ8].columns:
    data[i] = data[i].cat.rename_categories({1: "Participe beaucoup"
                                                 , 2 : "Participe un peu"
                                                 , 3 : "Ne participe pas"})

In [137]:
#changer l'order des categories
for i in data[ItemsQ8].columns:
    data[i] = pd.Categorical(data[i], 
                            categories=['Ne participe pas'
                                        , 'Participe un peu'
                                       , 'Participe beaucoup'], 
                            ordered=True)

In [138]:
# Variable 'Q9_3'
# Question : Avez-vous d√©j√† √©t√© confront√© au cours de votre vie √† une des situations suivantes ?  Une r√©ponse par ligne. Un proche a refus√© de se faire vacciner malgr√© les recommandations scientifiques
data['Q9_3'].value_counts()

Q9_3
1    596
3    464
2    442
Name: count, dtype: int64

In [139]:
# Variable 'Q9_5'
# Question : Avez-vous d√©j√† √©t√© confront√© au cours de votre vie √† une des situations suivantes ?  Une r√©ponse par ligne. Un proche a tenu des propos contraires √† des faits historiques ou scientifiques √©tablis
data['Q9_5'].value_counts()

Q9_5
3    886
2    364
1    252
Name: count, dtype: int64

In [140]:
data[['Q9_3', 'Q9_5']] = data[['Q9_3', 'Q9_5']].astype('category')

In [141]:
ItemsQ9 = ['Q9_3', 'Q9_5']

In [142]:
for i in data[ItemsQ9].columns:
    data[i] = data[i].cat.rename_categories({1: "Oui, au cours des 12 derniers mois"
                                                 , 2 : "Oui, mais c‚Äô√©tait il y a plus de 12 mois"
                                                 , 3 : "Non, jamais"})

In [143]:
#changer l'order des categories
for i in data[ItemsQ9].columns:
    data[i] = pd.Categorical(data[i], 
                            categories=['Non, jamais'
                                        , 'Oui, mais c‚Äô√©tait il y a plus de 12 mois'
                                       , 'Oui, au cours des 12 derniers mois'], 
                            ordered=True)

In [144]:
# Variable 'Q10'
# Question : De ces deux opinions, de laquelle vous sentez-vous le plus proche ?
data['Q10'].value_counts()

Q10
2    624
1    447
3    431
Name: count, dtype: int64

In [145]:
data['Q10'] = data['Q10'].astype('category')

In [146]:
data['Q10'] =data['Q10'].cat.rename_categories({1: "La lutte contre l‚Äôobscurantisme est avant tout l‚Äôaffaire des pouvoirs publics"
                                                 , 2 : "La lutte contre l‚Äôobscurantisme est avant tout l‚Äôaffaire des citoyens"
                                                 , 3 : "Vous ne savez pas"})

In [147]:
# Variable 'Q11'
# Question :  Diriez-vous que pour les pouvoirs publics la lutte contre les d√©rives obscurantistes doit √™tre un enjeu‚Ä¶ ?
data['Q11'].value_counts()

Q11
2    741
1    509
3    252
Name: count, dtype: int64

In [148]:
data['Q11'] = data['Q11'].astype('category')
data['Q11'] = data['Q11'].cat.rename_categories({1: "Tout √† fait prioritaire"
                                                 , 2 : "Tr√®s important sans √™tre prioritaire"
                                                 , 3 : "Secondaire"})

In [149]:
#changer l'order des categories de la variable 'Q11'
data['Q11'] = pd.Categorical(data['Q11'], 
                        categories=['Secondaire'
                                     , 'Tr√®s important sans √™tre prioritaire'
                                    , 'Tout √† fait prioritaire'], 
                            ordered=True)

In [150]:
# Variable 'Q12'
# Question : Pensez-vous que les pouvoirs publics en font trop, n‚Äôen font pas assez ou en font juste comme il faut en ce qui concerne les d√©rives obscurantistes ?
data['Q12'].value_counts()

Q12
2    1059
3     331
1     112
Name: count, dtype: int64

In [151]:
data['Q12'] = data['Q12'].astype('category')
data['Q12'] = data['Q12'].cat.rename_categories({1: "Ils en font trop"
                                                 , 2 : "Ils n‚Äôen font pas assez"
                                                 , 3 : "Ils en font juste comme il faut"})

In [152]:
#changer l'order des categories de la variable 'Q12'
data['Q12'] = pd.Categorical(data['Q12'], 
                        categories=['Ils n‚Äôen font pas assez'
                                     , 'Ils en font juste comme il faut'
                                    , 'Ils en font trop'], 
                            ordered=True)

In [153]:
# Variable 'Q13_2'
# Question : Pour chacun des groupes ou acteurs suivants, diriez-vous que vous lui faites confiance ou pas confiance pour lutter contre les ph√©nom√®nes obscurantistes ?  Une r√©ponse par ligne. Les √©lus, le personnel politique
data['Q13_2'].value_counts()

Q13_2
3    600
2    473
4    344
1     85
Name: count, dtype: int64

In [154]:
# Variable 'Q13_6'
# Question :  Pour chacun des groupes ou acteurs suivants, diriez-vous que vous lui faites confiance ou pas confiance pour lutter contre les ph√©nom√®nes obscurantistes ?  Une r√©ponse par ligne. Les scientifiques
data['Q13_6'].value_counts()

Q13_6
2    705
1    357
3    306
4    134
Name: count, dtype: int64

In [155]:
# Variable 'Q13_7'
# Question :  Pour chacun des groupes ou acteurs suivants, diriez-vous que vous lui faites confiance ou pas confiance pour lutter contre les ph√©nom√®nes obscurantistes ?  Une r√©ponse par ligne. Les enseignants, l‚ÄôEcole
data['Q13_7'].value_counts()

Q13_7
2    766
3    341
1    256
4    139
Name: count, dtype: int64

In [156]:
data[['Q13_2', 'Q13_6', 'Q13_7']] = data[['Q13_2', 'Q13_6', 'Q13_7']].astype('category')

In [157]:
ItemsQ13 = ['Q13_2', 'Q13_6', 'Q13_7']

In [158]:
for i in data[ItemsQ13].columns:
    data[i] = data[i].cat.rename_categories({1: "Oui, tout √† fait"
                                                 , 2 : "Oui, plut√¥t"
                                                 , 3 : "Non, plut√¥t pas"
                                                 , 4 : "Non, pas du tout"})

In [159]:
#changer l'order des categories
for i in data[ItemsQ13].columns:
    data[i] = pd.Categorical(data[i], 
                            categories=['Non, pas du tout'
                                        , 'Non, plut√¥t pas'
                                        , 'Oui, plut√¥t'
                                       , 'Oui, tout √† fait'], 
                            ordered=True)

In [160]:
# Variable 'Q14'
# Question : Si vous aviez connaissance d‚Äôactions individuelles ne demandant pas de moyens particuliers, pour lutter contre l'obscurantisme, seriez-vous pr√™t √† vous engager dans cette lutte ?
data['Q14'].value_counts()

Q14
2    753
3    372
1    189
4    188
Name: count, dtype: int64

In [161]:
data['Q14'] = data['Q14'].astype('category')
data['Q14'] = data['Q14'].cat.rename_categories({1: "Oui, certainement"
                                                 , 2 : "Oui, probablement"
                                                 , 3 : "Non, probablement pas"
                                                 , 4 : "Non, certainement pas"})

In [162]:
#changer l'order des categories de la variable 'Q14'
data['Q14'] = pd.Categorical(data['Q14'], 
                            categories=['Non, certainement pas'
                                        , 'Non, probablement pas'
                                        , 'Oui, probablement'
                                        , 'Oui, certainement'], 
                            ordered=True)

In [163]:
# Variable 'Q15'
# Question : Lorsque quelqu'un dans une conversation avec vous √©voque des convictions irrationnelles, avez-vous tendance‚Ä¶ ?
data['Q15'].value_counts()

Q15
2    708
1    518
3    276
Name: count, dtype: int64

In [164]:
data['Q15'] = data['Q15'].astype('category')
data['Q15'] = data['Q15'].cat.rename_categories({1: "√Ä le laisser parler"
                                                 , 2 : "√Ä argumenter pour lui faire changer d'avis"
                                                 , 3 : "√Ä interrompre la conversation"})

In [165]:
# Variable 'Q16'
# Question : Lorsque vous voyez sur les r√©seaux sociaux des commentaires qui vous semblent obscurantistes, avez-vous tendance‚Ä¶ ?
data['Q16'].value_counts()

Q16
3    650
2    596
1    256
Name: count, dtype: int64

In [166]:
data['Q16'] = data['Q16'].astype('category')
data['Q16'] = data['Q16'].cat.rename_categories({1 : "√Ä r√©pliquer"
                                                 , 2 : "√Ä changer de r√©seau social"
                                                 , 3 : "√Ä √™tre indiff√©rent"})

In [167]:
# Variable 'Q18_1'
# Question : Pour vous informer sur l‚Äôactualit√©, utilisez-vous chacun des m√©dias suivants ?  Une r√©ponse par ligne. Les journaux t√©l√©vis√©s (13 heures, 20 heures, etc.)
data['Q18_1'].value_counts()

Q18_1
1    674
2    569
3    259
Name: count, dtype: int64

In [168]:
# Variable 'Q18_2'
# Question : Pour vous informer sur l‚Äôactualit√©, utilisez-vous chacun des m√©dias suivants ?  Une r√©ponse par ligne. Les journaux d‚Äôinformations continues
data['Q18_2'].value_counts()

Q18_2
2    674
3    493
1    335
Name: count, dtype: int64

In [169]:
# Variable 'Q18_3'
# Question :  Pour vous informer sur l‚Äôactualit√©, utilisez-vous chacun des m√©dias suivants ?  Une r√©ponse par ligne. Internet (y compris les r√©seaux sociaux)
data['Q18_3'].value_counts()

Q18_3
2    705
1    495
3    302
Name: count, dtype: int64

In [170]:
# Variable 'Q18_4'
# Question : Pour vous informer sur l‚Äôactualit√©, utilisez-vous chacun des m√©dias suivants ?  Une r√©ponse par ligne. La radio
data['Q18_4'].value_counts()

Q18_4
2    667
1    491
3    344
Name: count, dtype: int64

In [171]:
# Variable 'Q18_5'
# Question : Pour vous informer sur l‚Äôactualit√©, utilisez-vous chacun des m√©dias suivants ?  Une r√©ponse par ligne. Les journaux, la presse √©crite
data['Q18_5'].value_counts()

Q18_5
2    686
3    489
1    327
Name: count, dtype: int64

In [172]:
# Variable 'Q18_6'
# Question : Pour vous informer sur l‚Äôactualit√©, utilisez-vous chacun des m√©dias suivants ?  Une r√©ponse par ligne. Les applications de messagerie instantan√©e (WhatsApp, Telegram, etc.)
data['Q18_6'].value_counts()

Q18_6
3    980
2    364
1    158
Name: count, dtype: int64

In [173]:
data[['Q18_1', 'Q18_2', 'Q18_3', 'Q18_4', 'Q18_5', 'Q18_6']] = data[['Q18_1', 'Q18_2', 'Q18_3', 'Q18_4', 'Q18_5', 'Q18_6']].astype('category')

In [174]:
ItemsQ18 = ['Q18_1', 'Q18_2', 'Q18_3', 'Q18_4', 'Q18_5', 'Q18_6']

In [175]:
for i in data[ItemsQ18].columns:
    data[i] = data[i].cat.rename_categories({1: "Oui, souvent"
                                                 , 2 : "Oui, parfois"
                                                 , 3 : "Non, jamais"})

In [176]:
#changer l'order des categories
for i in data[ItemsQ18].columns:
    data[i] = pd.Categorical(data[i], 
                            categories=['Non, jamais'
                                        , 'Oui, parfois'
                                       , 'Oui, souvent'], 
                            ordered=True)

In [177]:
# Variable 'Q19_1'
# Question : Plus pr√©cis√©ment, sur internet, utilisez-vous chacune des sources suivantes ?  Une r√©ponse par ligne. Les sites d‚Äôinformation des grands m√©dias
data['Q19_1'].value_counts()

Q19_1
2.0    593
1.0    304
3.0    303
Name: count, dtype: int64

In [178]:
# Variable 'Q19_2'
# Question : Plus pr√©cis√©ment, sur internet, utilisez-vous chacune des sources suivantes ?  Une r√©ponse par ligne. Les portails ou applications (Google News, Yahoo Actualit√©s, Actu Orange‚Ä¶)
data['Q19_2'].value_counts()

Q19_2
2.0    535
3.0    374
1.0    291
Name: count, dtype: int64

In [179]:
# Variable 'Q19_3'
# Question : Plus pr√©cis√©ment, sur internet, utilisez-vous chacune des sources suivantes ?  Une r√©ponse par ligne. Les sites de vid√©os en ligne (YouTube, Dailymotion, Vimeo‚Ä¶)
data['Q19_3'].value_counts()

Q19_3
2.0    547
3.0    400
1.0    253
Name: count, dtype: int64

In [180]:
# Variable 'Q19_4'
# Question : Plus pr√©cis√©ment, sur internet, utilisez-vous chacune des sources suivantes ?  Une r√©ponse par ligne. Les r√©seaux sociaux (Facebook, Twitter, Snapchat, Instagram, LinkedIn‚Ä¶)
data['Q19_4'].value_counts()

Q19_4
2.0    475
1.0    402
3.0    323
Name: count, dtype: int64

In [181]:
data[['Q19_1', 'Q19_2', 'Q19_3', 'Q19_4']] = data[['Q19_1', 'Q19_2', 'Q19_3', 'Q19_4']].fillna(0)

In [182]:
data[['Q19_1', 'Q19_2', 'Q19_3', 'Q19_4']] = data[['Q19_1', 'Q19_2', 'Q19_3', 'Q19_4']].astype('category')

In [183]:
ItemsQ19 = ['Q19_1', 'Q19_2', 'Q19_3', 'Q19_4']

In [184]:
for i in data[ItemsQ19].columns:
    data[i] = data[i].cat.rename_categories({0 : "Vous ne savez pas, sans r√©ponse"
                                            , 1: "Oui, souvent"
                                            , 2 : "Oui, parfois"
                                            , 3 : "Non, jamais"})

In [185]:
#changer l'order des categories
for i in data[ItemsQ19].columns:
    data[i] = pd.Categorical(data[i], 
                            categories=['Non, jamais'
                                        , 'Oui, parfois'
                                       , 'Oui, souvent'
                                       , 'Vous ne savez pas, sans r√©ponse'], 
                            ordered=True)

In [186]:
# Variable 'Q20'
# Question :  A quelle fr√©quence partagez-vous du contenu traitant des informations sur les r√©seaux sociaux (Facebook, Watsapp, Twitter, etc.) ?
data['Q20'].value_counts()

Q20
1.0    204
4.0    199
2.0    183
5.0    173
3.0    118
Name: count, dtype: int64

In [187]:
data['Q20'] = data['Q20'].fillna(0)

In [188]:
data['Q20'] = data['Q20'].astype('category')
data['Q20'] =data['Q20'].cat.rename_categories({0 : "Vous ne savez pas, sans r√©ponse" 
                                                 , 1 : "Au moins une fois par jour"
                                                 , 2 : "Au moins une fois par semaine"
                                                 , 3 : "Au moins une fois par mois"
                                                 , 4 : "Moins souvent"
                                                 , 5 : "Jamais"})

In [189]:
#changer l'order des categories de la variable 'Q20'
data['Q20'] = pd.Categorical(data['Q20'], 
                            categories=['Jamais', 'Moins souvent', 'Au moins une fois par mois'
                                        , 'Au moins une fois par semaine'
                                        , 'Au moins une fois par jour'
                                        , 'Vous ne savez pas, sans r√©ponse'], 
                            ordered=True)

In [190]:
# Variable 'PRE22'
# Question : Pour lequel des candidats suivants avez-vous vot√© lors du PREMIER TOUR de l'√©lection pr√©sidentielle, dimanche 10 avril 2022 ?
data['PRE22'].value_counts()

PRE22
9     301
12    257
6     190
17    166
1      90
15     71
10     68
13     67
2      63
5      46
8      44
14     35
11     32
3      25
7      20
4      17
16     10
Name: count, dtype: int64

In [191]:
# d√©finir une fonction pour recoder la variable 'PRE22':
def PRES22_noms(x):
    if x == 1:
        return "Vous vous √™tes abstenu(e)"
    if x == 2:
        return "Vous avez vot√© blanc ou nul"
    if x == 3:
        return "Nathalie Arthaud"
    if x == 4:
        return "Philippe Poutou"
    if x == 5:
        return "Fabien Roussel"
    if x == 6:
        return "Jean-Luc M√©lenchon"
    if x == 7:
        return "Anne Hidalgo"
    if x == 8:
        return "Yannick Jadot"
    if x == 9:
        return "Emmanuel Macron"
    if x == 10:
        return "Val√©rie P√©cresse"
    if x == 11:
        return "Nicolas Dupont-Aignan"
    if x == 12:
        return "Marine Le Pen"
    if x == 13:
        return "√âric Zemmour"
    if x == 14:
        return "Jean Lassalle"
    if x == 15:
        return "Vous n‚Äô√©tiez pas inscrit(e) sur les listes √©lectorales"
    if x == 16:
        return "Vous n'aviez pas 18 ans"
    if x == 17:
        return "Vous ne souhaitez pas r√©pondre"

In [192]:
data['PRE22']= data['PRE22'].apply(lambda x : PRES22_noms(x))

In [193]:
# Variable 'REL1'
# Question : √ätes-vous ...?
data['REL1'].value_counts()

REL1
2    619
7    561
8    119
1     92
4     46
6     32
3     25
5      8
Name: count, dtype: int64

In [194]:
# d√©finir une fonction pour recoder la variable 'REL1':
def Religion(x):
    if x == 1:
        return "Catholique pratiquant(e)"
    if x == 2:
        return "Catholique non pratiquant(e)"
    if x == 3:
        return "Protestant(e) ou √©vang√©lique"
    if x == 4:
        return "Musulman(e)"
    if x == 5:
        return "Juif, juive"
    if x == 6:
        return "D‚Äôune autre religion"
    if x == 7:
        return "Sans religion"
    if x == 8:
        return "Vous ne souhaitez pas r√©pondre"

In [195]:
data['REL1']= data['REL1'].apply(lambda x : Religion(x))

In [196]:
data[['PRE22', 'REL1']] = data[['PRE22', 'REL1']].astype('category')

In [197]:
# Variable 'REL2'
# Question : Plus pr√©cis√©ment √™tes-vous... ?
data['REL2'].value_counts()

REL2
2.0    47
1.0    45
Name: count, dtype: int64

In [198]:
data['REL2'] = data['REL2'].fillna(0)

In [199]:
data['REL2'] = data['REL2'].astype('category')
data['REL2'] = data['REL2'].cat.rename_categories({0 : "Non Pratiquant(e), sans religion, vous ne savez pas"
                                                 , 1 : "Pratiquant(e) r√©gulier(e)"
                                                 , 2 : "Pratiquant(e) occasionnel(le)"})

In [200]:
#changer l'order des categories de la variable 'REL2'
data['REL2'] = pd.Categorical(data['REL2'], 
                            categories=['Non Pratiquant(e), sans religion, vous ne savez pas'
                                        , 'Pratiquant(e) occasionnel(le)'
                                        , 'Pratiquant(e) r√©gulier(e)'], 
                            ordered=True)

In [201]:
# Variable 'RELI2'
# Question : D'habitude, allez-vous √† un office religieux... ?
data['RELI2'].isna().sum()

111

In [202]:
data['RELI2'] = data['RELI2'].fillna(0)
data['RELI2'] = data['RELI2'].astype('category')
data['RELI2'] = data['RELI2'].cat.rename_categories({0 : "Non Pratiquant(e), sans religion, vous ne savez pas"
                                                 , 1 : "Au moins une fois par semaine"
                                                 , 2 : "Une ou deux fois par mois"
                                                 , 3 : "De temps en temps, aux grandes f√™tes"
                                                 , 4 : "Uniquement pour les c√©r√©monies, mariages,..."
                                                 , 5 : "Jamais"})

In [203]:
#changer l'order des categories de la variable 'RELI2'
data['RELI2'] = pd.Categorical(data['RELI2'], 
                            categories=['Non Pratiquant(e), sans religion, vous ne savez pas'
                                        , 'Jamais', 'Uniquement pour les c√©r√©monies, mariages,...'
                                        , 'De temps en temps, aux grandes f√™tes'
                                       , 'Une ou deux fois par mois'
                                       , 'Au moins une fois par semaine'], 
                            ordered=True)

In [204]:
# Variable 'RRELI'
# Question : 
data['RRELI'].value_counts()

RRELI
6    557
3    505
2    143
7    111
5     97
1     62
4     27
Name: count, dtype: int64

In [205]:
data['RRELI'] = data['RRELI'].astype('category')
data['RRELI'] = data['RRELI'].cat.rename_categories({1 : "Catholique pratiquant(e) r√©gulier(e)"
                                                 , 2 : "Catholique pratiquant(e) occasionnel(le)"
                                                 , 3 : "Catholique non pratiquant(e)"
                                                 , 4 : "Protestant(e)"
                                                 , 5 : "Autres religions"
                                                 , 6 : "Sans religion"
                                                 , 7 : "Vous ne savez pas"})

In [206]:
# fonction pour creer un tableau crois√© multiple avec effectifs et pourcentages
def tableau_croise_final(
    data, var_dep, indeps):
    t_nombre = pyshs.tableau_croise_multiple(data,
                              var_dep,
                              indeps,
                              "POIDS",               
                              contenu="absolu") 
    t_pourcentage = pyshs.tableau_croise_multiple(data,
                              var_dep,
                              indeps,
                              "POIDS",                   
                              contenu="pourcentage" )
    t=pd.concat({n:pd.concat({"Effectif":t_nombre[n],"%":t_pourcentage[n]},axis=1)                     
        for n in t_nombre.columns if n != "Total" and n != "Distribution"},axis=1)
    
    for n in t_nombre.columns:
        if n == "Total":
            t["Total"] = t_nombre["Total"]

    t["Distribution"]= t_pourcentage["Distribution"]
    
    t = t.reset_index()
    
    t["Question"] = t["Variable"].apply(lambda x : x.split(' ')[0])
    
    t["Question"] = t["Question"].apply(lambda x : list({key: questions_variables[key] for key in [x]}.values())[0])
    
    t = t.set_index(['Question','Variable'])
    
    return t

In [212]:
A = ['RS11', 'Q2_1', 'Q2_6', 'Q2_9', 'Q2_10', 'Sectes_premier', 'Sectes_obscurantisme_placement'
     , 'Complotisme_premier', 'Complotisme_obscurantisme_placement', 'Religions_premier'
     , 'Religions_obscurantisme_placement', 'Remise_en_cause_science_premier', 'Remise_en_cause_science_obscurantisme_placement'
    , 'Q4_1', 'Q4_2', 'Q4_2', 'Q4_3', 'Q4_4', 'Q4_5', 'Q4_6', 'Q4_7', 'Q4_8', 'Q8_1', 'Q8_2', 'Q8_3', 'Q8_4', 'Q8_5', 'Q8_6'
     , 'Q8_7', 'Q8_8', 'Q8_9', 'Q9_3', 'Q9_5', 'Q10', 'Q11', 'Q12', 'Q13_2', 'Q13_6', 'Q13_7', 'Q14', 'Q15', 'Q16'
    , 'Q18_3', 'Q18_6', 'Q20']

In [213]:
Tableaux = {}
for i in A:
    tableau_i = tableau_croise_final(data, i, list_indeps)
    Tableaux.update({i: tableau_i})

In [214]:
with pd.ExcelWriter(r"C:\Users\rana_\OneDrive\Bureau\inserm\travaux\IFOP et LEEM\transfer_5678355_files_71b8c3b2\Ifop_analyse\Tableaux_crois√©s\Tableaux_crois√©s_IFOP1.xlsx") as engine:
    for key, val in Tableaux.items():
        val.to_excel(engine, sheet_name=key)

<ipython-input-214-79cf32df8f79>:1: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.7' currently installed).
  with pd.ExcelWriter(r"C:\Users\rana_\OneDrive\Bureau\inserm\travaux\IFOP et LEEM\transfer_5678355_files_71b8c3b2\Ifop_analyse\Tableaux_crois√©s\Tableaux_crois√©s_IFOP1.xlsx") as engine:
C:\Users\rana_\anaconda3\lib\site-packages\openpyxl\workbook\child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")